services:
    _defaults:
        autowire: true
        autoconfigure: true

    App\:
        resource: '../src/'
        exclude:
            - '../src/Kernel.php'

    _instanceof:
        App\CQRS\CommandHandlerInterface:
            tags: ['app.command_handler']
        App\CQRS\QueryHandlerInterface:
            tags: ['app.query_handler']
        App\Gallery\Filter\PhotoFilterInterface:
            tags: ['app.photo_filter']

    App\Infrastructure\Http\PhoenixClient:
        arguments:
            $baseUrl: '%env(PHOENIX_BASE_URL)%'

    App\Domain\Port\PhoenixClientInterface:
        alias: App\Infrastructure\Http\PhoenixClient
